In [5]:
print (type(10.8))

<class 'float'>

matematika : 5+1
print (matermatika)

In [7]:
print (type(True))

<class 'bool'>

In [10]:
matematika='1223'
print (matematika)

1223

In [11]:
nama = "Hacktive"
nat= "8"
print (nama + nat)

Hacktive8

In [3]:
s='FaDelII'
print (s.capitalize())
print (s.swapcase())
print (s.lower())

Fadelii
fAdELii
fadelii

In [6]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
print (s1)

(s1, s2, s3, s4) = ['foo', 'bar', 'baz', 'qux']
print (s1)

foo
foo

In [7]:
# Perbedaan tuples dengan list
#List
my_list = [1, 2, 3, 4]
my_list.append(5) #-> ini digunakan untuk menambahkan list
print(my_list)

#tuple
my_tuple = (1, 2, 3, 4)
# my_tuple[0] = 5  # Ini akan menghasilkan error karena tuple bersifat immutable
print(my_tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4)

In [9]:
# Membuat dictionary
my_dict = {'nama':'Fadeli', 'umur' : 23,'pekerjaan':'BFLP'}

# Mengakses nilai berdasarkan kunci
print(my_dict['nama'])
print(my_dict['umur'])
print(my_dict['pekerjaan'])

# Menambahkan elemen ke dalam dictionary
my_dict['lokasi'] = 'Jakarta'
print(my_dict)

Fadeli
23
BFLP
{'nama': 'Fadeli', 'umur': 23, 'pekerjaan': 'BFLP', 'lokasi': 'Jakarta'}

In [21]:
#CASE 1 -> Jika a lebih besar dari c cetak nilai A, dan jika a lebih kecil dari b cetak betul

a=3 
b=4 
c=1

if a>c:
    print (a)
if a<b:
    print ('betul')
else:
    print ('kemerdekaan adalah hak segala bangsa')

3
betul

In [29]:
#Case 2 -> jika A lebih besar dar B dan lebih besar dari C tampilkan "tampil"

if (a>b) | (a>c):
    print('tampil or')
if (a>b) & (a>c):
    print('tampil and')
else:
    print('Enggak')

tampil or
Enggak

In [33]:
sistem=['saya','pergi','ke','LPPI','kemang']
engineer=['tidak','jalan','karena','banjir']
print (
sistem[0],engineer[0],sistem[1],engineer[2],engineer[3]
)

engineer[0]='tetap'
print (
sistem[0],engineer[0],sistem[1],engineer[2],engineer[3]
)

saya tidak pergi karena banjir
saya tetap pergi karena banjir

In [3]:
a=6
b=7
c=8
if (c>a):
    if (b>c):
        print('true')
    else:
        print('false')
else:
    print('error')

false

In [9]:
daftar_nama = [
    {'nama': 'nama1', 'nilaiA': 80, 'nilaiB': 70},
    {'nama': 'nama2', 'nilaiA': 55, 'nilaiB': 70},
    {'nama': 'nama3', 'nilaiA': 80, 'nilaiB': 90},
    {'nama': 'nama4', 'nilaiA': 75, 'nilaiB': 60},
    {'nama': 'nama5', 'nilaiA': 90, 'nilaiB': 70}
]
for nama in daftar_nama:
    if (nama['nilaiA'] <= 60) | (nama['nilaiB'] <= 60):
        total=nama['nilaiA']+nama['nilaiB']
        nama['total'] = total
        
        nama['keterangan'] = 'gagal'
    else:
        total=nama['nilaiA']+nama['nilaiB']
        nama['total'] = total
        
        nama['keterangan'] = 'lulus'

for nama in daftar_nama:
    print(nama)
    
for nama in

{'nama': 'nama1', 'nilaiA': 80, 'nilaiB': 70, 'total': 150, 'keterangan': 'lulus'}
{'nama': 'nama2', 'nilaiA': 55, 'nilaiB': 70, 'total': 125, 'keterangan': 'gagal'}
{'nama': 'nama3', 'nilaiA': 80, 'nilaiB': 90, 'total': 170, 'keterangan': 'lulus'}
{'nama': 'nama4', 'nilaiA': 75, 'nilaiB': 60, 'total': 135, 'keterangan': 'gagal'}
{'nama': 'nama5', 'nilaiA': 90, 'nilaiB': 70, 'total': 160, 'keterangan': 'lulus'}

In [2]:
daftar_nilai={}
nama = input('nama:')
nilai = input ('nilai:')

daftar_nilai['nama']=str(nama)
print (daftar_nilai)

nama:Andi Hidayat
nilai:50
{'nama': 'Andi Hidayat'}

In [15]:
list_nama={}
list_nama['nama']=input('nama =')
list_nama['hobi']=input('hobi =')
list_nama['email']=input('email =')
list_nama['uts']=int(input('uts ='))
list_nama['uas']=int(input('uas ='))

if ((list_nama['uts']<=60) or (list_nama['uas']<=60)) or (list_nama['uts'] + list_nama['uas'] <= 125):
    list_nama['keterangan']='Gagal'
else:
    list_nama['keterangan']='Lulus'
print(list_nama['keterangan'])

nama =Fadeli
hobi =Basket
email =dwifadeli11@gmail.com
uts =70
uas =90
Lulus

In [21]:
karakter = ['B','a','T']
for i in karakter:
    
    desimal = ord(i)
# Desimal
    print('Desimal =', desimal)

    # Biner
    biner = ''
    desimal1 = desimal
    while desimal1 > 0:
        sisa = desimal1 % 2
        biner = str(sisa) + biner
        desimal1 //= 2
    print('Biner =', biner)

# Okta
    okta = ''
    desimal2 = desimal
    while desimal2 > 0:
        sisa = desimal2 % 8
        okta = str(sisa) + okta
        desimal2 //= 8
    print('Okta =', okta)

# Hexa
    hexa = ''
    desimal3 = desimal
    while desimal3 > 0:
        sisa = desimal3 % 16
        if sisa < 10:
            hexa = str(sisa) + hexa
        else:
            hexa = chr(ord('A') + sisa - 10) + hexa
        desimal3 //= 16
    print('Hexa =', hexa)

Desimal = 66
Biner = 1000010
Okta = 102
Hexa = 42
Desimal = 97
Biner = 1100001
Okta = 141
Hexa = 61
Desimal = 84
Biner = 1010100
Okta = 124
Hexa = 54

In [2]:
s = 12
while s <= 19:
    if s <= 15:
        print (s)
    elif s>18:
        print('selesai')
        print(s)
    s=s+1
    
#     for i in range (12,16):
#         print (i)
#     s=s+1
#     break
# print ('selesai')

12
13
14
15
selesai
19

In [20]:
s=12
wadah = []
while s<19:
    wadah.append(s)
    s=s+1
i=0
# for i in wadah:
#     print (wadah[i])
print(wadah[:4])
print(s)
print('selesai')

[12, 13, 14, 15]
19
selesai