In [5]:
print (type(10.8))

<class 'float'>

matematika : 5+1
print (matermatika)

In [7]:
print (type(True))

<class 'bool'>

In [10]:
matematika='1223'
print (matematika)

1223

In [11]:
nama = "Hacktive"
nat= "8"
print (nama + nat)

Hacktive8

In [3]:
s='FaDelII'
print (s.capitalize())
print (s.swapcase())
print (s.lower())

Fadelii
fAdELii
fadelii

In [6]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
print (s1)

(s1, s2, s3, s4) = ['foo', 'bar', 'baz', 'qux']
print (s1)

foo
foo

In [7]:
# Perbedaan tuples dengan list
#List
my_list = [1, 2, 3, 4]
my_list.append(5) #-> ini digunakan untuk menambahkan list
print(my_list)

#tuple
my_tuple = (1, 2, 3, 4)
# my_tuple[0] = 5  # Ini akan menghasilkan error karena tuple bersifat immutable
print(my_tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4)

In [9]:
# Membuat dictionary
my_dict = {'nama':'Fadeli', 'umur' : 23,'pekerjaan':'BFLP'}

# Mengakses nilai berdasarkan kunci
print(my_dict['nama'])
print(my_dict['umur'])
print(my_dict['pekerjaan'])

# Menambahkan elemen ke dalam dictionary
my_dict['lokasi'] = 'Jakarta'
print(my_dict)

Fadeli
23
BFLP
{'nama': 'Fadeli', 'umur': 23, 'pekerjaan': 'BFLP', 'lokasi': 'Jakarta'}

In [21]:
#CASE 1 -> Jika a lebih besar dari c cetak nilai A, dan jika a lebih kecil dari b cetak betul

a=3 
b=4 
c=1

if a>c:
    print (a)
if a<b:
    print ('betul')
else:
    print ('kemerdekaan adalah hak segala bangsa')

3
betul

In [29]:
#Case 2 -> jika A lebih besar dar B dan lebih besar dari C tampilkan "tampil"

if (a>b) | (a>c):
    print('tampil or')
if (a>b) & (a>c):
    print('tampil and')
else:
    print('Enggak')

tampil or
Enggak

In [33]:
#TUGAS LIST

sistem=['saya','pergi','ke','LPPI','kemang']
engineer=['tidak','jalan','karena','banjir']
print (
sistem[0],engineer[0],sistem[1],engineer[2],engineer[3]
)

engineer[0]='tetap'
print (
sistem[0],engineer[0],sistem[1],engineer[2],engineer[3]
)

saya tidak pergi karena banjir
saya tetap pergi karena banjir

In [3]:
#TUGAS BOOLEAN
a=6
b=7
c=8
if (c>a):
    if (b>c):
        print('true')
    else:
        print('false')
else:
    print('error')

false

In [9]:
#TUGAS TABEL LULUS DAN TIDAK LULUS

daftar_nama = [
    {'nama': 'nama1', 'nilaiA': 80, 'nilaiB': 70},
    {'nama': 'nama2', 'nilaiA': 55, 'nilaiB': 70},
    {'nama': 'nama3', 'nilaiA': 80, 'nilaiB': 90},
    {'nama': 'nama4', 'nilaiA': 75, 'nilaiB': 60},
    {'nama': 'nama5', 'nilaiA': 90, 'nilaiB': 70}
]
for nama in daftar_nama:
    if (nama['nilaiA'] <= 60) | (nama['nilaiB'] <= 60):
        total=nama['nilaiA']+nama['nilaiB']
        nama['total'] = total
        
        nama['keterangan'] = 'gagal'
    else:
        total=nama['nilaiA']+nama['nilaiB']
        nama['total'] = total
        
        nama['keterangan'] = 'lulus'

for nama in daftar_nama:
    print(nama)
    
for nama in

{'nama': 'nama1', 'nilaiA': 80, 'nilaiB': 70, 'total': 150, 'keterangan': 'lulus'}
{'nama': 'nama2', 'nilaiA': 55, 'nilaiB': 70, 'total': 125, 'keterangan': 'gagal'}
{'nama': 'nama3', 'nilaiA': 80, 'nilaiB': 90, 'total': 170, 'keterangan': 'lulus'}
{'nama': 'nama4', 'nilaiA': 75, 'nilaiB': 60, 'total': 135, 'keterangan': 'gagal'}
{'nama': 'nama5', 'nilaiA': 90, 'nilaiB': 70, 'total': 160, 'keterangan': 'lulus'}

In [24]:
#TUGAS LULUS DAN TIDAK LULUS

list_nama={}
list_nama['nama']=input('nama =')
list_nama['hobi']=input('hobi =')
list_nama['email']=input('email =')
list_nama['uts']=int(input('uts ='))
list_nama['uas']=int(input('uas ='))

if ((list_nama['uts']<=60) or (list_nama['uas']<=60)) or (list_nama['uts'] + list_nama['uas'] <= 125):
    list_nama['keterangan']='Gagal'
else:
    list_nama['keterangan']='Lulus'
print(list_nama['keterangan'])

nama =FADELI DWI P
hobi =BASKET
email =dwifadeli11@gmail.com
uts =50
uas =90
Gagal

In [21]:
#TUGAS BINER,DESIMAL,OKTA,HEXA


karakter = ['B','a','T']
for i in karakter:
    
    desimal = ord(i)
# Desimal
    print('Desimal =', desimal)

    # Biner
    biner = ''
    desimal1 = desimal
    while desimal1 > 0:
        sisa = desimal1 % 2
        biner = str(sisa) + biner
        desimal1 //= 2
    print('Biner =', biner)

# Okta
    okta = ''
    desimal2 = desimal
    while desimal2 > 0:
        sisa = desimal2 % 8
        okta = str(sisa) + okta
        desimal2 //= 8
    print('Okta =', okta)

# Hexa
    hexa = ''
    desimal3 = desimal
    while desimal3 > 0:
        sisa = desimal3 % 16
        if sisa < 10:
            hexa = str(sisa) + hexa
        else:
            hexa = chr(ord('A') + sisa - 10) + hexa
        desimal3 //= 16
    print('Hexa =', hexa)

Desimal = 66
Biner = 1000010
Okta = 102
Hexa = 42
Desimal = 97
Biner = 1100001
Okta = 141
Hexa = 61
Desimal = 84
Biner = 1010100
Okta = 124
Hexa = 54

In [23]:
#TUGAS PERULANGAN

s=12
wadah = []
while s<19:
    wadah.append(s)
    s=s+1
i=0
for i in wadah[:4]:
    print (i)
print('Berhasil Running hingga =', s)
print('selesai')

12
13
14
15
Berhasil Running hingga = 19
selesai

In [11]:
#ISI FILE
source_data=open('source/data.txt','a')
source_data.write('Jum, 2 Feb 2024 | 08:55')
source_data.close()

#OPEN
source_data=open('source/data.txt')
cetak_data=source_data.read()
print(cetak_data)
# print(cetak_data[0],cetak_data[1],cetak_data[2])
source_data.close()

nama : Fadeli Dwi Priyanta
PN   : 00345975
kode_peserta : BFLP001SY004
Jum, 2 Feb 2024 | 08:55

In [12]:
f=open('source/data.txt','r+')
f.write("Pelatihan kita di LPPI \nkemang dengan waktu yang telah ditentukan!!")
f.seek(0)
print(f.read())
f.close()

Pelatihan kita di LPPI
kemang dengan waktu yang telah ditentukan!!!

In [16]:
f=open('source/data.txt','r+')
baca=f.readlines()
kalimat_tambahan = "dari pagi sampai sore.\n"
baca.insert(1, kalimat_tambahan)

f.seek(0)
f.writelines(baca)

f.seek(0)
print(f.read())

Pelatihan kita di LPPI
dari pagi sampai sore.
dari pagi sampai sore.
kemang dengan waktu yang telah ditentukan!!!

In [17]:
f=open('source/data.txt','r+')
baca=f.readlines()
del baca [1]
f.seek(0)
f.writelines(baca)

f.seek(0)
print(f.read())

Pelatihan kita di LPPI
dari pagi sampai sore.
kemang dengan waktu yang telah ditentukan!!!ang telah ditentukan!!!

In [18]:
karakter_input = input('Nama: ')
for karakter in karakter_input:
    desimal = ord(karakter)

    # Desimal
    print('Desimal untuk', karakter, '=', desimal)

    # Biner
    biner = ''
    desimal1 = desimal
    while desimal1 > 0:
        sisa = desimal1 % 2
        biner = str(sisa) + biner
        desimal1 //= 2
    print('Biner untuk', karakter, '=', biner)

    # Okta
    okta = ''
    desimal2 = desimal
    while desimal2 > 0:
        sisa = desimal2 % 8
        okta = str(sisa) + okta
        desimal2 //= 8
    print('Okta untuk', karakter, '=', okta)

    # Hexa
    hexa = ''
    desimal3 = desimal
    while desimal3 > 0:
        sisa = desimal3 % 16
        if sisa < 10:
            hexa = str(sisa) + hexa
        else:
            hexa = chr(ord('A') + sisa - 10) + hexa
        desimal3 //= 16
    print('Hexa untuk', karakter, '=', hexa)

    print('-' * 20)

Nama: ANI
Desimal untuk A = 65
Biner untuk A = 1000001
Okta untuk A = 101
Hexa untuk A = 41
--------------------
Desimal untuk N = 78
Biner untuk N = 1001110
Okta untuk N = 116
Hexa untuk N = 4E
--------------------
Desimal untuk I = 73
Biner untuk I = 1001001
Okta untuk I = 111
Hexa untuk I = 49
--------------------

In [31]:
def konversi_karakter(input_nama,ruang,skema, output_file):
    with open(output_file, 'r+') as output:
        output.write(f'Nama : {input_nama}\n')
        output.write(f'Ruang : {ruang}\n')
        output.write(f'Skema : {skema}\n\n')
        
        for karakter in input_nama:
            desimal = ord(karakter)

            # Desimal
            print(f'Desimal untuk {karakter} = {desimal}')
            output.write(f'Desimal untuk {karakter} = {desimal}\n')

            # Biner
            biner = ''
            desimal1 = desimal
            while desimal1 > 0:
                sisa = desimal1 % 2
                biner = str(sisa) + biner
                desimal1 //= 2
            print(f'Biner untuk {karakter} = {biner}')
            output.write(f'Biner untuk {karakter} = {biner}\n')

            # Okta
            okta = ''
            desimal2 = desimal
            while desimal2 > 0:
                sisa = desimal2 % 8
                okta = str(sisa) + okta
                desimal2 //= 8
            print(f'Okta untuk {karakter} = {okta}')
            output.write(f'Okta untuk {karakter} = {okta}\n')

            # Hexa
            hexa = ''
            desimal3 = desimal
            while desimal3 > 0:
                sisa = desimal3 % 16
                if sisa < 10:
                    hexa = str(sisa) + hexa
                else:
                    hexa = chr(ord('A') + sisa - 10) + hexa
                desimal3 //= 16
            print(f'Hexa untuk {karakter} = {hexa}')
            output.write(f'Hexa untuk {karakter} = {hexa}\n')
            print('-' * 20 + '\n')
            output.write('-' * 20 + '\n')  # Separator between characters


            
karakter_input = input('Nama: ')
ruang = input('Ruang: ')
skema = input('Skema: ')

output_file_path = 'source/handling.txt'
konversi_karakter(karakter_input,ruang,skema, output_file_path)
print(f'Hasil konversi telah disimpan di {output_file_path}')

Nama: Fadeli
Ruang: 212
Skema: System Engineer
Desimal untuk F = 70
Biner untuk F = 1000110
Okta untuk F = 106
Hexa untuk F = 46
--------------------

Desimal untuk a = 97
Biner untuk a = 1100001
Okta untuk a = 141
Hexa untuk a = 61
--------------------

Desimal untuk d = 100
Biner untuk d = 1100100
Okta untuk d = 144
Hexa untuk d = 64
--------------------

Desimal untuk e = 101
Biner untuk e = 1100101
Okta untuk e = 145
Hexa untuk e = 65
--------------------

Desimal untuk l = 108
Biner untuk l = 1101100
Okta untuk l = 154
Hexa untuk l = 6C
--------------------

Desimal untuk i = 105
Biner untuk i = 1101001
Okta untuk i = 151
Hexa untuk i = 69
--------------------

Hasil konversi telah disimpan di source/handling.txt

In [18]:
import mysql.connector
import pandas as pd


mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="warmad123",
    database="sakila"
)

mycursor = mydb.cursor()

# Inserting data into 'divisi'
# mycursor.execute("insert into divisi values ('190','232','Bakawan')")
# mydb.commit()

mycursor.execute('SELECT * FROM actor')
myresult = mycursor.fetchall()
# print(myresult)
# Close cursor and connection
df = pd.DataFrame(myresult, columns=column).head(30)
print(df)
mycursor.close()
mydb.close()

NameError: name 'column' is not defined